body {
  background-image: URL("../images/colorfulCity.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

h1 {
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-align: center;
  color: magenta;
  padding: 5px;
}
div.container {
  background: linear-gradient(
    182deg,
    rgb(200 177 255) 11.2%,
    rgb(251 189 230) 44.5%,
    rgb(255 235 206) 84.7%
  );
  /* background-color: #e3e5f7; */
  position: relative;
  top: 10px;
  max-width: 680px;
  border: 4mm ridge rgb(205, 58, 224);
  margin: 30px auto;
  padding: 15px;
}
div.cities a {
  color: rgb(7 138 255);
  font-weight: 450;
  font-size: 25px;
  text-align: center;
}
div.cityRow {
  font-weight: 450;
  padding-bottom: 5px;
}
div.iconColumn {
  padding: 0;
  position: relative;
  left: -15px;
}
img.weatherIcon {
  position: relative;
  top: -25px;
}
div.temperature {
  font-size: 45px;
  line-height: 1;
  padding: 0 3px 0 0;
  position: relative;
  left: -25px;
}

div.unitLinks {
  padding-left: 3px;
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  left: -30px;
}
div.weatherInfo {
  padding: 0;
  position: relative;
  left: -20px;
}
div.small {
  font-size: 15px;
  font-weight: 450;
  color: rgb(150, 150, 150);
  line-height: 1.2;
}
form {
  font-size: 20px;
  margin: 20px 0;
}
input.inputBox {
  width: 245px;
  border-top-width: 3px;
  border-left-width: 3px;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 255, 0.2);
}
input.searchButton {
  background-color: rgb(86, 169, 247);
  border: 2px solid rgb(10 97 211);
  transition: all 10ms ease-in-out;
}
input.locationButton {
  width: 200px;
  background-color: rgb(4, 211, 4);
  border: 2px solid rgb(4 116 4);
  transition: all 10ms ease-in-out;
}
div div.right-aligned {
  text-align: right;
}

div.footer {
  font-size: medium;
  bottom: 0;
  padding: 3px;
  color: magenta;
  background-color: white;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
}
div.capitalize {
  text-transform: capitalize;
}
input.inputBox:hover {
  border: 0;
  box-shadow: 3px 3px 15px -3px magenta;
}
.searchButton:hover {
  background: rgb(62, 143, 248);
  border: 2px solid rgb(91, 191, 344);
}
.locationButton:hover {
  background: rgb(0, 172, 0);
  border: 2px solid rgb(60, 245, 9);
}
div.cities a:hover {
  color: rgb(131 27 207);
  font-weight: 600;
}
.unitLinks a:hover {
  color: magenta;
}
a.activeUnitLink {
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: default;
}
a.activeUnitLink:hover {
  color: black;
}
